@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <style>
        body {
            margin: 25px;
        }

        div.polaroid {
            width: 80%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 25px;
        }

        div.container {
            text-align: center;
            padding: 10px 20px;
        }
    </style>
</head>
<body>
<div id="studentForm">


<div id="studentForm">
<h1>Welcome To Bookings Center </h1>

       
            <div class="polaroid">
                <img src="/images/img1.jpg"  alt="5 Terre" style="width:100%">
                <div class="container">
                    <p>sliit</p>
                </div>
            </div>

            <div class="polaroid">
                <img src="./images/img2.jpg" alt="Norther Lights" style="width:100%">
                <div class="container">
                    <p>ocean</p>
                </div>
            </div>

            <div class="polaroid">
                <img src="./images/img3.jpg" alt="Norther Lights" style="width:100%">
                <div class="container">
                    <p>OSYA</p>
                </div>
            </div>

            <div class="polaroid">
                <img src="./images/img4.jpg" alt="Norther Lights" style="width:100%">
                <div class="container">
                    <p>South Hall</p>
                </div>
            </div>
           <a href="/centers"><button>Browse For Centers</button></a>
        </div>
    </div>
</body>
</html>


<